.site-name {
  color: $light-gray;
  text-align: center;
}

body {
  margin: 5rem auto;
  padding: 0 5rem;
  width: 700px;
}

.post-title {
  text-align: center;
}

.posts {
  list-style: none;
  text-align: center;
}

.posts { 
  li {
    color: $black;
    font-size: $sub-headline;
    margin-bottom: 2rem;
    a {
      color: inherit;
    }
  }
}

.date {
  display: block;
  text-align: center;
}

pre {
  border: 1px solid $light-gray;
  line-height: $base-line-height * 0.85;
  padding: 1.5rem;
}

blockquote {
  border-left: 5px solid $black;
  margin-left: 2rem;
  padding-left: 2rem;
}
