// Typography
$base-font-family: 'Averia Serif Libre';
$base-line-height: 1.5;

$title: 5.2rem;
$headline: 3.2rem;
$sub-headline: 2.5rem;
$primary-text: 2.0rem;
$secondary-text: 1.6rem;

// Colors
$black: #0F0F0F;
$blue: #4E6ACE;
$purple: #762D84;
$light-gray: #D6D6D6;
$white: #F4F4F4;
